<h3>Galeria Fotos</h3>
<button
  [disabled]="page == 1"
  class="btn btn-primary btn-prev"
  type="button"
  (click)="onPrev()"
>
  <
</button>
<button class="btn btn-primary btn-next" type="button" (click)="onNext()">
  >
</button>
<div class="row">
  <div
    *ngFor="let photo of photos"
    class="col-2"
    [ngClass]="{ 'col-12': current == photo.id }"
  >
    <div class="card" [ngClass]="{ 'card-expand': current == photo.id }">
      <i
        class="bi bi-star favorite"
        *ngIf="!isFavorite(photo.id)"
        (click)="onFavorite(photo)"
      ></i>
      <i
        class="bi bi-star-fill favorite active"
        *ngIf="isFavorite(photo.id)"
        (click)="onFavorite(photo)"
      ></i>
      <img
        (click)="onExpand(photo.id)"
        *ngIf="current != photo.id"
        [src]="photo.id | image"
        alt="Card image cap"
      />
      <div class="card-body" *ngIf="current == photo.id">
        <div class="row">
          <div class="col-9">
            <img
              (click)="onExpand(photo.id)"
              [src]="photo.id | imageMedium"
              alt="Card image cap"
            />
            <label><span>Url:</span> {{ photo.url }}</label>
          </div>
          <div class="col-3">
            <label><span>Autor:</span> {{ photo.author }}</label>
            <label><span>Width:</span> {{ photo.width }}</label>
            <label><span>Height:</span> {{ photo.height }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
